<?xml version="1.0" encoding="utf-8" ?>
<ClientConfiguration xmlns="urn:orleans">

  <SystemStore SystemStoreType="Custom"
               CustomGatewayProviderAssemblyName="OrleansConsulUtils"
               DataConnectionString="http://localhost:8500"
               DeploymentId="iot_host_v1" />

  <Tracing TraceToFile="" TraceLevel="Info" />

</ClientConfiguration>