<?xml version="1.0"?>
<OrleansConfiguration xmlns="urn:orleans" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Globals>

    <SystemStore SystemStoreType="None"
                 DataConnectionString="http://192.168.99.100:32775"
                 DeploymentId="iot_host_v1" />

    <StorageProviders>
      <Provider Type="Orleans.Storage.MemoryStorage" Name="Default" />
      <Provider Type="Orleans.Storage.MemoryStorage" Name="PubSubStore" />
    </StorageProviders>

    <StreamProviders>
      <Provider Type="Orleans.Providers.Streams.SimpleMessageStream.SimpleMessageStreamProvider" Name="sms"/>
    </StreamProviders>

    <StatisticsProviders>
      <Provider Type="SBTech.OrleansStatsDUtils.StatsDStatisticsProvider"
                Name="StatsDStatisticsProvider"
                StatsDServerName="192.168.99.100"
                StatsDServerPort="32772"
                StatsDPrefix="iot.host" />
    </StatisticsProviders>

    <Application>
      <Defaults>
        <Deactivation AgeLimit="2hr"/>
      </Defaults>
    </Application>

  </Globals>
  <Defaults xdt:Transform="Insert">

    <Networking Address="" Port="11111" />
    <ProxyingGateway Address="" Port="30000" />

    <Statistics ProviderType="StatsDStatisticsProvider" WriteLogStatisticsToTable="true"/>

    <Tracing TraceToFile="" TraceLevel="Info" />

  </Defaults>
</OrleansConfiguration>