<?xml version="1.0"?>
<OrleansConfiguration xmlns="urn:orleans" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Globals xdt:Transform="Insert">

    <SystemStore SystemStoreType="None"
                 DataConnectionString="http://localhost:8500"
                 DeploymentId="iot_host_dev_v1" />

    <StorageProviders>
      <Provider Type="Orleans.Storage.MemoryStorage" Name="Default" />
      <Provider Type="Orleans.Storage.MemoryStorage" Name="PubSubStore" />
    </StorageProviders>

    <StatisticsProviders>
      <Provider Type="SBTech.OrleansStatsDUtils.StatsDStatisticsProvider"
                Name="StatsDStatisticsProvider"
                StatsDServerName="localhost"
                StatsDPrefix="iot_host.dev" />
    </StatisticsProviders>

    <Application>
      <Defaults>
        <Deactivation AgeLimit="2hr"/>
      </Defaults>
    </Application>

  </Globals>
  <Defaults xdt:Transform="Insert">

    <Networking Address="" Port="11111" />
    <ProxyingGateway Address="" Port="30000" />

    <Statistics ProviderType="StatsDStatisticsProvider" WriteLogStatisticsToTable="true"/>

    <Tracing TraceToFile="" TraceLevel="Info" />

  </Defaults>
</OrleansConfiguration>